<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
<link rel="stylesheet" href="/static/auto.css">

</head>

<body>
<h1>Find Route</h1>

<!-- https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="/autoroute" method="post" novalidate>
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="dep" placeholder="From" value="">
  </div>
  <div class="autocomplete" style="width:300px;">
    <input id="myInputDest" type="text" name="dest" placeholder="To" value="">
  </div>

  <input did="submit" type="submit" name="submit">
  </form>

<script src="/static/auto.js"></script>


<hr>
<address></address>
<!-- hhmts start -->Last modified: Wed Oct 20 16:59:42 CEST 2021 <!-- hhmts end -->
</body> </html>
